<template>
  <component :is="getTag" class="typography" :style="computedStyles">
    <slot/>
  </component>
</template>

<script>
export default {
  name: 'TypographyComponent',
  props: {
    variant: {
      type: String,
      default: 'span',
      validator: (value) =>
          ['span', 'p', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6'].includes(
              value
          ),
    },
    color: {
      type: String,
    },
    align: {
      type: String,
      validator: (value) =>
          ['left', 'center', 'right'].includes(value),
    },
    weight: {
      type: Number,
      validator: (value) => {
        const numericValue = Number(value);
        return !isNaN(numericValue) && numericValue >= 100 && numericValue <= 900;
      },
    },
    lineHeight: {
      type: String,
    },
    letterSpacing: {
      type: String,
    },
    fontSize: {
      type: String,
    },
  },
  computed: {
    getTag() {
      return this.variant;
    },
    computedStyles() {
      return {
        color: this.color,
        textAlign: this.align,
        fontWeight: this.weight,
        lineHeight: this.lineHeight,
        letterSpacing: this.letterSpacing,
        fontSize: this.fontSize,
      };
    },
  },
};
</script>
