<template>
  <Typography variant="h1" weight="100" letter-spacing="10px">it is heading1</Typography>
  <Typography variant="h2" align="center">it is heading2</Typography>
  <Typography variant="h3" color="blue">it is heading3</Typography>
  <Typography variant="h4" line-height="60px">it is heading4</Typography>
  <Typography variant="h5" font-size="50px">it is heading5</Typography>
  <Typography variant="h6">it is heading6</Typography>
  <Typography variant="p">it is paragraph</Typography>
  <Typography>it is span</Typography>

</template>

<script>
import Typography from './components/Typography.vue'

export default {
  name: 'App',
  components: {
    Typography
  }
}
</script>